*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, sans-serif;
  background: #d1d1d1;
  padding-top: 50px;
}
h1 {
  font-family: 'montserrat', sans-serif;
  font-size: clamp(12px , 5vw , 30px);
}
.player {
  max-width: 600px;
  overflow: hidden;
  position: relative;
}
video {
  width: 100%;
  max-height: 350px;
  object-fit: contain;
  position: relative;
}
.control {
  width: 100%;
  height: 40px ;
  position: absolute;
  z-index: 1;
  bottom: 7px;
  background-color: rgba(0, 0, 0, 0.579);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.iconBtn {
  min-width: 10px;
  max-width: 20px;
}
.play{
  margin-left: 12px;
  margin-right: 12px;
}
.volumeBarGroup{
 margin-right:12px; 
 position: relative;
}
.fullscreen{
  margin-right: 12px;
}
img {
  width: 100%;
}

input[type="range"]{
  margin-right: 12px;
  width: 35%;
}
#totalDuration , label {
  font-size: clamp(8px , 5vw , 16px);
}
.volume-display {
  display: flex;
  align-items: center;
  flex-basis: 100%;
  margin-right: 12px;
}

#volume-tooltip {
  display: none;
  position: absolute;
  top: -108px;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: gray;
  opacity: 0.8;
  border-radius: 5px 5px 0 0 ;
}

#volume-tooltip .volume-bar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  background-color: #225bcd80;
  border-radius: 5px 5px 0 0;
}


